html {
  scroll-behavior: smooth;
}

body {
	background-image: url(./images/officialBackground.png);
	background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Font Styles */
.font-anton {
	font-family: 'Anton', sans-serif;
}
.font-playfair {
	font-family: 'Playfair Display', serif;
}

.font-Roboto {
	font-family: 'Roboto', sans-serif;
}

.font-secular {
	font-family: 'Secular One', sans-serif;
}

.font-oswald {
	font-family: 'Oswald', sans-serif;
}

.bg-tuscan {
	background-color: #7D4F50;
}

.bg-khaki {
	background-color: #D1BE9C;
}

.bg-linen {
	background-color: #F9EAE1;
}

.bg-grullo {
	background-color: #AA998F;
}

.tuscan {
	color: #7D4F50;
	opacity: 100%;
}

.pink {
	color: #CC8B86;
}

.font-weight {

}

.nav-item-style {
	
}

.image-style {
	width: 70%;

}

/* Navigation Bar */
.nav-items {
	font-size: 1.4rem;
	color: #7D4F50;
	letter-spacing: 0.15rem;
}

.nav-items:hover {
	color: #CC8B86;
}

/* Landing Page */
.intro {
	font-size: calc(1.625rem + 2.56vw);
	font-weight: bold;
	letter-spacing: 0.15rem;
	line-height: 1rem;
	text-shadow: 5px 5px 15px #CC8B86;
}

.intro-name {
	font-size: calc(1.625rem + 6.56vw);
	font-weight: bold;
	letter-spacing: 0.15rem;
	text-shadow: 5px 5px 15px #F9EAE1;	
}

.intro-title {
	font-size: calc(1.625rem + 0.36vw);
	font-weight: bold;
	letter-spacing: 0.15rem;
	line-height: 0.2rem;
	text-shadow: 5px 5px 15px #CC8B86;
}

.intro-work {
	font-size: calc(1.625rem + 0.36vw);
	font-weight: bold;
	letter-spacing: 0.15rem;
	line-height: 2rem;
	text-shadow: 5px 5px 15px #CC8B86;	
}

/* About Me Page */
.about-container {
	height: 100vh;
	border-radius: 50px;
	box-shadow: 7px 7px 15px #CC8B86;
}

.about-box {
	box-shadow: 0px 0px 20px #CC8B86;
	border-radius: 50px;
}

.personalInfo {
	font-size: calc(1.625rem + 0.36vw);
	font-weight: bold;
}

.life-motto {
	font-size: calc(1.2rem + 0.20vw);
	font-weight: bold;
}

.description {
	margin-right: 8%;
	margin-left: 8%;
}

.jobPosition {
	font-size: calc(1.30rem + 0.05vw);
	font-weight: bold;
	line-height: 0.90rem;
}

.company {
	line-height: 0.01rem;
}